{
	"presets": [
		"@babel/preset-env"
	],
	"ignore": [
		"node_modules"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-transform-classes"
	],
	"sourceMaps": true,
	"retainLines": true
}